#labeling-footer-div > * {
    all: initial;
}

#labeling-footer-div > p {
    all: initial;
    display: block;
    font-size: 1em;
    text-align: center;
    margin: 0;
    padding: 0;
    border: 0;
    z-index: 10001;
    color: rgb(220, 220, 220);
}

#labeling-footer-div {
    all: initial;
    color: #333;
    margin: 0;
    padding: 0;
    border: 0;
    position: fixed;
    width: 100%;
    bottom: 0px;
    background-color: black;
    opacity: 0.85;
    text-align: center;
    z-index: 10000;
    display: block;
}

#labeling-footer-div > button {
    font-style: normal;
    display: inline-block;
    line-height: 1;
    font-weight: 700;
    letter-spacing: normal;
    border: 2px solid #9b9b9b;
    background-color: whitesmoke;
    padding: 5px 11px;
    color: #4c4c4c;
    text-decoration: none;
    align-items: flex-start;
    box-sizing: border-box;
    text-align: center;
    word-spacing: normal;
    text-rendering: auto;
}

.toast {
    position: fixed;
    left: 0;
    right: 0;
    margin: auto;
    max-width: 400px;
    z-index: 100000;

    padding: 6px;
    background: #cccccc;
    color: #333333;
    font-family: sans-serif;
    text-align: center;
    border: 1px solid #aaaaaa;
    border-radius: 5px;
    box-shadow: 0 0 10px #4c4c4c;

    visibility: hidden;
    opacity: 0;
    top: 0;
    transition: opacity 0.2s, top 0.2s, visibility 0.2;
}

.toast--visible {
    opacity: 1;
    top: 20px;
    visibility: visible;
}

.toast--success {
    background: #00C02B;
    border-color: #009D23;
    color: #ffffff;
}

.toast--error {
    background: #D50000;
    border-color: #BA0000;
    color: #ffffff;
}